@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>The website
        provides the main endpoints for the API</p>
    <p>the order endpoint is available at api/order</p>
    <p>you can fetch a particular order using api/order/{orderid}</p>
    <p>the product endpoint is available at api/product</p>
    <p>you can fetch a particular product using api/product/{productID}</p>
    <p>the post, put, and delet method are also available at these endpoints</p>
</div>
